<!DOCTYPE html>
<html lang="en">
<head>
{{>headerlinks}}
</head>
<body>
{{>navbar}}
  <!--main header--> 
  <div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <!--left side div-->
                <div class="col-md-6 col-12 main_header_right">
                  <figure>
                   <img src="img/about.jpg" alt="Karamat Ely" class="img_fluid" title="karamat ely's">
                  </figure>
               </div>
                <div class="col-md-6 col-12 main_header_left align-items-center">
                    <p class="about-para">Welcom to weather app</p>
                    <h1 class="about-me">I am a  <span class="text-color"> Mern Stack  </span> Developer , Editor and a travelller</h1>
                    <a href="https://karamatalahi.github.io/Main-Portfolio/" target="_karamat" class="about-button"><button>Connect Me </button></a>
                </div>
                <!--right side div-->
             
            </div>
            </div>
        </div>    
    </div>
    <!-- footer code -->
   {{>footer}}




    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>